body {
    /* font-family: 'Arial', sans-serif; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Coda Caption', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(173, 216, 230);
    /* background: linear-gradient(to right, lightblue, rgb(249, 249, 254)); */
}

header {
    /* background-color: rgb(218, 218, 218); */
    background-color: rgb(230, 173, 216);
    opacity: 50;
    text-align: center;
    margin-bottom: 1em;
    border-radius: 90px;
    filter: saturate(3);
}

#title{
    margin: 0;
}

#playlists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.list{
    margin: 0.5em;
    padding: 0.5em;
    /* border-radius: 12px 12px 8px 8px; */
    border-radius: 20px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(230, 201, 173);
    filter: saturate(5);
}

.list:hover{
    background-color: rgb(216, 230, 173);;
    /* color: white; */
}

.image{
    margin: auto;
    border-radius: 20px;
}

.space-evenly { 
    justify-content: space-evenly; 
}

/* CSS for Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    /* background-color: #fefefe; */
    background-color: rgb(230, 173, 216);
    filter: saturate(2);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#imageAndTitle{
    display: flex;
}

#titleAndCreator{
    margin-left: 2em;
}

#playlistImage{
    width: 10em;
    height: 8em;
}

footer {
    /* background-color: rgb(218, 218, 218); */
    background-color: rgb(230, 173, 216);
    text-align: center;
    margin-bottom: 1em;
    filter: saturate(3);

    margin-top: auto;
    margin-bottom: 0;
}